.nav{
    background-color: whitesmoke;
    padding: 1vmax;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1px solid rgba(43,43,43,0.137);
}
.navLink{
    color: rgb(59,59,59);
    text-decoration: None;
    margin: 1vmax 1.2vmax;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.1vmax;
}
.logo{
    background-color: orangered;
    border-radius: 20px;
    width: 58px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    right: 2vmax;
}
.SearchBox{
    position: relative;
    left: 5vmax;
}
.SearchBox>input{
    border: None;
    border-bottom: 1px solid rgba(128,128,128,0.76);
    width: 15vmax;
    font-size: 1.1vmax;
    color: rgb(61,61,61);
    outline: None;
    font-weight: 100;
    background-color: whitesmoke;
}
.SearchBox > svg{
    color: rgb(61,61,61);
    transform: scale(0.8);
}
.navLink:hover{
    text-decoration: None;
    color: orangered;
}
#logoID{
    transform: translateX(-58px);
    transition:all 0.2s;
}
#logoID:hover{
    transform: translateX(0px);
}