.OfferSec{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6vmax;
}
.OfferSec img{
    margin: 0 1vmax;
    transition: all 0.3s;
}
.OfferSec img:hover{
    box-shadow: 6px 6px 15px rgba(53,53, 53, 0.363);
}